@charset "UTF-8";
html,body{
    height: 100vh;
    width: 100vw;
    margin: 50px;
    padding: 0px;
    margin: 0px;
}
header{
    color: #f5f5f5;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(../imagens/teclado.jpg);
    background-size: cover;
    padding: 30px;
}
header input{
    margin-left: -100%;
    border-radius: 10px;
    width: 10vw;
    background-color: rgba(0, 0, 0, 0.39);
    font-family: fantasy;
    color: #fdfbfb;
    border: 1px double rgb(0, 0, 0);
    border-radius: 20px;
}
input:hover{
    animation: reverse;
    transform: scale(1.5);
    margin-left: -95%;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

body{
background: url(../imagens/pexels-phil-desforges-3335697.jpg) left center;
}
div .conteiner0{
    display: inline-flex;
    margin: auto;
    border: 2px solid black;
    
}
section{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(46, 43, 43);
    font-family: monospace;
    border: 2px solid black;
    letter-spacing: 0px;
    background-color: rgba(0, 0, 0, 0.671);
    
}

section#content1{
    display: inline-flex;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 25px;
    margin-bottom: 0px;
    box-shadow: inset -2px -2px 2px 2px rgba(255, 255, 255, 0.178);
}
section#content1 img{
    border-radius: 50%;
    width: 40vw;
    height: 15vh;
}

section#content1 p{ 
    color: aliceblue;
    margin: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 10px;
}

section#content2{
    display:inline-flex;
    border: 2px solid black;
    border-radius: 20px;
    margin: 25px;
    box-shadow: inset -2px -2px 2px 2px rgba(255, 255, 255, 0.178);
}
section#content2 p{
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    text-align: left; 
    line-height: 2rem;
    background-color: rgba(0, 0, 0, 0.603);
}
section#content2 img{
    width: 40vw;
    height: 30vh;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
}
footer{
    margin-top: 50px;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    color:#f5f5f5;
    font-size: 1rem;
}
footer img{
    width: 10vw;
    border-radius:20%;
    border: 2px groove rgb(24, 23, 23);
} 
footer img:hover{
    animation: forwards;
    transform: scale(1.5);
    border: 1px hidden whitesmoke;
}