@charset "UTF-8";

@media screen and (min-width:1px) and (max-width:720px) {
    header{
        background: url(../imagens/tecladoluminoso2.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
    
        
    }


    nav{
        
        margin: 1px;
        text-align:center;
        /* background-image: linear-gradient(rgb(13, 94, 192),rgb(4, 44, 46)); */
       
        
       
    }
    li{ color: aliceblue;
        text-shadow: 0px 0px 9px  #837c7c;
        text-decoration: none;
        font-size: normal;
        display: inline-block;
        border-top: 1px solid whitesmoke;
        border-left: 1px solid whitesmoke;
        background-image: linear-gradient(rgba(8, 8, 8, 0.842),rgba(0, 0, 0, 0.979));
        box-shadow: 1px 1px 1px rgb(96, 94, 102);
    }
    li{ font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline;
        padding: 10px;
        margin-left: 1px;
        border-radius: 5px ;
        transition-duration: .2s;
    }
    

    .conteiner{
       margin: auto;
    }

body{
    background: url(../imagens/pexels-phil-desforges-3335697.jpg)  center ;
    background-size: cover;
}
 
.content{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
} 
.content2{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

 
.content2 > p {
   height: 25vh;
   width: 25vw;
    font-size: 0.73em;
}
.content > p{
    height: 25vh;
    width: 25vw;
    font-size: 0.8em;
}


img{
    width: 25vw;
    height: 25vh;
}

.content > img{
    width: 50vw;
    height: 50vh;
}
}

/* Telas pequenas */

/* @media screen and (min-width:600px) and (max-width:670px) {
    header{
        background: url(../imagens/tecladoluminoso2.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-clip: border-box;
    }

    .conteiner{
        margin-right: 50px ;
        margin-left: 50px;
    }

body{
    background: url(../imagens/pexels-phil-desforges-3335697.jpg)  center ;
    background-size: cover;
}
 
.content{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
} 
.content2{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

 
.content2 > p {
   height: 25vh;
   width: 25vw;
    font-size: 0.73em;
}
.content > p{
    height: 25vh;
    width: 25vw;
    font-size: 0.96em;
}


img{
    width: 25vw;
    height: 25vh;
}

.content > img{
    width: 50vw;
    height: 50vh;
}
}
 Tela de celular */

@media screen and (min-width:721px) and (max-width:768px) {
    header{
        background: url(../imagens/tecladoluminoso2.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-clip: border-box;
    }

    .conteiner{
        margin-right: 50px ;
        margin-left: 50px;
    }
body{
    background: url(../imagens/pexels-phil-desforges-3335697.jpg)  center ;
    background-size: cover;
}
 
.content{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
} 
.content2{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

 
.content2 > p {
   height: 25vh;
   width: 25vw;
    font-size: 0.95em;
}
.content > p{
    height: 25vh;
    width: 25vw;
    font-size: 1em;
}


img{
    width: 25vw;
    height: 25vh;
}

.content > img{
    width: 50vw;
    height: 50vh;
}
}

/* Tela intermedio */

@media screen and (min-width:768px) and (max-width:900px) {
    header{
        background: url(../imagens/tecladoluminoso.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
body{
    background: url(../imagens/pexels-phil-desforges-3335697.jpg);
}   
.conteiner{
    margin-right: 50px ;
    margin-left: 50px;
}
h2{
    color:whitesmoke;
    margin:80px;
    margin-bottom:20px;
    text-shadow:3px 3px 3px #666266;
    font-size: 4em;
}
h2#cabecalho{
    margin-top: auto;
}

.content{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 
.content2{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.content{
    margin: 50px;
    margin-top: 50px;
    font-size: 1.25em;
} 
.content2 p{
    margin: 20px;
    margin-top: 20px;
    font-size: 1.3em;
}
.content p{
    margin: 20px;
    font-size: 1em;
}

img{
    width: 50vw;
    height: 50vh;
}


} 

/* Tela de pc */

@media screen and (min-width:900px) and (max-width:1200px) {
    header{
        background: url(../imagens/teclado\ -\ Copia2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
.conteiner{
    margin-right: 50px ;
    margin-left: 50px;
}

h2{
    margin:50px ;
    font-size: 4em;
    
}
body{
    background: url(../imagens/pexels-phil-desforges-3335697.jpg);
}
    
.content{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

 .content2{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.content p{
    margin: 20px;
    margin-top: 20px;
    font-size: 1.5em;
}

 .content2 p{
    margin: 20px;
    margin-top: 20px;
    font-size: 1.4em;
}

img{
    width: 50vw;
    height: 50vh;
}

img#image{
    width: 50vw;
    height: 50vh;
}
.content > img{
    width: 50vw;
    height: 70vh;
}
.content2 > img{
    width: 51vw;
    height: 70vh;
}
.content2 img{
    width: 50vw;
    height: 70vh;
}

}


/* Tela final */

@media screen and (min-width:1200px) and (max-width:3000px) {
    header{
        background: url(../imagens/teclado\ 10.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }


    
.content {
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 .content2{
    background: url(../imagens/fundo-992px.jpg ) center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align:justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    margin: 50px;
    margin-top: 50px;
    font-size: 2em;
}
.content2 p{
    margin: 50px;
    margin-top: 50px;
    font-size: 2em;
}

img{
    width: 50vw;
    height: 50vh;
}



}