@charset "UTF-8";
html,body{
    height: 100vh;
    width: 100vw;
    margin: 50px;
    padding: 0px;
    margin: 0px;
}
header{
    position: relative;
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-emphasis: bold ;
    background-color: rgba(0, 0, 0, 0.808);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 30px;
     background: url(../imagens/tecladoluminoso.jpg);
    text-align: center;
    margin-bottom: 200px;
}
h1{
    color: rgb(255, 255, 255);
   
    text-shadow: 3px 3px 3px #353434;
}

h2{
    color: white;
    font-family: verdana ;
    font-size: 3em;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
}

nav{
    text-align: left;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: infinite;
    animation: forwards;
    animation-duration: 2s;
    background-color: #00000098;
    background-size: cover;
    padding-right: 10px;
    text-decoration: none;
    margin-top: -200px;
   align-items: center;
   justify-content: center;
}

nav ul{
    display: inline-flex;
    margin-left: -50px;
    
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    margin-left: 10px;
}
a{
    text-decoration: none;
}
div#divc {
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.781);
    display: inline-block;
    padding: 0px;
    border-radius: 20px;
    padding-right: -90px;
    width: 70px;
    height: 50px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    margin-left: 30px;
    border: 2px solid rgb(102, 99, 99);
}



div#divc:hover{
    width: 190px;
    overflow: visible;
    transition: all .4 ease-in-out;
}


div#divc span{
    font-family: 'century gothic';
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px #504f4f;
    
    font-weight: bolder;
    font-size: 20px;
    line-height: 60px;
    padding-right: 20px;
    text-align: center;
    line-height: 20px;
    margin: auto;
    margin-left: 75px; 
    margin-top: -75px;
    position: relative;
    top: -35px;
    

}
div#divc img{
    display: block ;
    width: 50px;
    height: 50px;
    transition: all .3s ease-in-out;
    
}

body{
background: url(../imagens/pexels-phil-desforges-3335697.jpg) left center;
}
div .conteiner0{
    display: inline-flex;
    margin: auto;
    border: 2px solid black;
    
}
section{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(46, 43, 43);
    font-family: monospace;
    border: 2px solid black;
    letter-spacing: 0px;
    background-color: rgba(0, 0, 0, 0.671);
    
}

section#content1{
    display: inline-flex;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 25px;
    margin-bottom: 0px;
    box-shadow: inset -2px -2px 2px 2px rgba(255, 255, 255, 0.178);
}
section#content1 img{
    border-radius: 50%;
    width: 40vw;
    height: 15vh;
}

section#content1 p{ 
    color: aliceblue;
    margin: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 10px;
}

section#content2{
    display:inline-flex;
    border: 2px solid black;
    border-radius: 20px;
    margin: 25px;
    box-shadow: inset -2px -2px 2px 2px rgba(255, 255, 255, 0.178);
}
section#content2 p{
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    text-align: left; 
    line-height: 2rem;
    background-color: rgba(0, 0, 0, 0.603);
}
section#content2 img{
    width: 40vw;
    height: 30vh;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
}
footer{
    margin-top: 50px;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    color:#f5f5f5;
    font-size: 1rem;
}
footer img{
    width: 10vw;
    border-radius:20%;
    border: 2px groove rgb(24, 23, 23);
} 
footer img:hover{
    animation: forwards;
    transform: scale(1.5);
    border: 1px hidden whitesmoke;
}