@charset "UTF-8";

@font-face {
    font-family: 'brk';
    src: url(../fontes/old_london/OldLondon.ttf);
}

html,body{
    height: 100vh;
    width: 100vw;
}



body{
    background-color: #666266;
    background-attachment:scroll ;
    background-blend-mode: screen;
    background: url(../imagens/pexels-phil-desforges-3335697.jpg);
    background-position: top center;
    background-size: cover;
   
}

header{
    position: relative;
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-emphasis: bold ;
    background-color: rgba(0, 0, 0, 0.808);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
    background: url(../imagens/tecladoluminoso.jpg);
    text-align: center;
    margin-bottom: 190px;
}
@font-face {
    font-family: brk;
    src: url(../fontes/old_london/OldLondon.ttf);
}
h1{
    color: rgb(51, 50, 50);
   font-family: 'brk';
    text-shadow: 1px 1px 1px #ffffff;
}

h2{
    color: white;
    font-family: verdana ;
    font-size: 3em;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
}

nav{
    text-align: left;
    margin: auto;
    animation-duration: 2s;
    background-color: #00000098;
    background: url(../imagens/2.jpg);
    background-size: cover;
    text-decoration: none;
    margin-top: -200px;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: inline-flex;
    margin-left: -50px;
    
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
  
}



.div1 img{
    margin-left: 0px;
}
div#divc.div1{
    border-radius: 50%;
    border-left: none;
    width: 50px;
}
div#divc.div1 span{
    font-family: 'brk';
}
div#divc.div1:hover{
    border-radius: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left: none;
    width: 110px;
    transition: all .3s ease-in-out;
}

/* fase1 */

.div2 img{
    margin-left: 0px;
}
div#divc.div2{
    border-radius: 50%;
    width: 50px;
   
}
div#divc.div2 span{
    text-align: left;
    font-family: 'brk';
}
div#divc.div2:hover{
    border-left: none;
    width: 120px;
    transition: all .5s ease-in-out;
}
/* fase2 */
.div3 img{
    margin-left: 0px;
}
div#divc.div3{
    border-radius: 50%;
    width: 50px;
   
}
div#divc.div3 span{
    text-align: left;
    font-family: 'brk';
}
div#divc.div3:hover{
    border-left: none;
}

a{
    text-decoration: none;
}
div#divc {
    background-image: linear-gradient(360deg, rgb(0, 0, 0), rgb(1, 18, 43));
    background: url(../imagens/3.jpg) left;
    display: inline-flex;
    border-radius: 20px;
    width: 70px;
    height: 50px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    margin-left: 30px;
    border: 1px solid rgb(102, 99, 99);
}



div#divc:hover{
    width: 150px;
    border-radius: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all .4 ease-in-out;
    line-height: 43px;
}

div#divc span{
    font-family: 'brk';
    color: rgb(156, 221, 252);
    text-shadow: 2px 2px 2px #000000;
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 50px;
    margin: auto;
    margin-left: 5px;
   
    

}
div#divc img{
    width: 50px;
    height: 50px;
    transition: all .3s ease-in-out;
    
}
/* AQUIJ TERMINA O CABEÇALHO */

section{
    border: 2px solid rgb(94, 91, 91);
    border-radius: 20px;
    margin: auto;

}



.content{
    background: url(../imagens/fundo-400.jpg ) ;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bold;
    text-shadow: 2px 3px 3px #666266;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
}

.content p{
    margin: 20px;
    font-size: 1em;
}

img{
    width: 50vw;
    height: 50vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.content2{
    background: url(../imagens/fundo-400.jpg ) ;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-flex;
    color: rgb(5, 1, 22);
    font-weight: bolder;
    text-shadow: 2px 3px 3px #363636;
    text-align: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

.content2 p{
    margin: 20px;
    font-size: 0.9em;
}

.content2 img{
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    
}

div.conteiner{
    display: inline-flexbox;
    height: 413px;
}
.content3 > video{
    border-radius: 20px;
  
    width: 78.5vw;
    height: 50vh;
}
.content3{
    border: 2px solid rgb(88, 86, 86);
    border-radius: 20px ;
    margin:50px;
    margin-left: 30px;
    margin-right:30px;
}
footer{
    margin-top: -10px;
    color: rgb(53, 53, 53);
    text-shadow: 3px 3px 3px  #000000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-image: url(../imagens/fundo-futurista-57941386.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    bleed: 500px;
}
footer img{
    display: flex;
    width: 150px;
    height: 49px;
    margin-top: 15px;
    margin-left:30px;
    border-radius: 25px;

}
section#sec2{
    display: inline-flex;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 49px;
    height: 49px;
    background-color: rgb(0, 0, 0) ;
    overflow: hidden;
    transition: all .3s ease-in-out;
   
}
section#sec2 img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0px;
    margin-top: -2px;
    margin-left: -2px;
    margin-bottom: -5px; 
}

section#sec2:hover{
    width: 170px;
    line-height:  40px;
   
}

span{
    color: aliceblue;
    font: bolder 1.5rem 'century gothic';
}
/* 1ª fase */

section#sec3{
    margin: 30px;
    display: inline-flex;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 49px;
    height: 49px;
    background-color: rgb(0, 0, 0) ;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
section#sec3 img{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 0px;
    margin-top: -2px;
    margin-left: -2px;
    margin-bottom: -5px; 
}

section#sec3:hover{
    width: 140px;
    line-height:  50px;
}

span{
    color: aliceblue;
    font: bolder 2rem 'century gothic';
    text-decoration: none;
}
a{
    text-decoration: none;
}
/* 2ª fase */

section#sec4{
    display: inline-flex;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 49px;
    height: 49px;
    background-color: rgb(0, 0, 0) ;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
section#sec4 img{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0px;
    margin-top: -2px;
    margin-left: -2px;
    margin-bottom: -5px; 
    border-radius: 0px;
}

section#sec4:hover{
    width: 130px;
    line-height:  40px;
   
   
}

span{
    color: aliceblue;
    font: bolder 1.5rem 'century gothic';
}