@charset "UTF-8";


@media screen and (max-width:600px){

    body{
        background:url(../imagens/pexels-phil-desforges-3335697.jpg) ;
        background-size: cover;
        background-position: center;
       
        
    }
    nav{
       margin: 2px;
       text-align: left;
    }
    h2{
        text-shadow: 3px 3px 3px #666266;
        margin-top: 20px;
    }
    h2#cabecalho{
        margin-bottom: 40px
    }
    .content p{
      font-size: normal;
      margin: 1px;
    }
    .content2 p{
        font-size: small;
        text-align: left;
    }
    .content3 video{
        width: 433px;
        height: 500px;
    }
    .content3{
        background-color: #0000004b;
        border: #2e2e2e;
        
    }
}

@media screen and (min-width:600px) and (max-width:720px) {
    header{
        background: url(../imagens/tecladoluminoso2.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
    }
    nav{
        text-align: left;
    }

    h2{
        text-shadow: 3px 3px 3px #949292;
    }

    .content p{
        font-size: 1.2em;
    }
    .content2 p{
        font-size: 1.1em;
    }

    .content3{
        width: 91vw;
    }
    .content3 > video{
        width: 91vw;
    }

}

/* Telas pequenas */

 /* Tela de celular  */

@media screen and (min-width:720px) and (max-width:768px) {
    header{
        background: url(../imagens/tecladoluminoso2.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-clip: border-box;
    }
h2{
    font-size: 4em;
    text-shadow: 3px 3px 3px #666266;
    margin: 50px;
    
}

h2#cabecalho{
    margin: 50px;
}


.content2 > p {

    font-size: 1em;
}
.content > p{
   
    font-size: 1.3em;
}

.content > img{
    width: 50vw;
    height: 50vh;
}
.content3{

}
.content3 video{
    width: 91vw;
}
}

/* Tela intermedio */

@media screen and (min-width:768px) and (max-width:900px) {
    header{
        background: url(../imagens/tecladoluminoso.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

.conteiner{
    margin-right: 50px ;
    margin-left: 50px;
}
h2{
    color:whitesmoke;
    margin:80px;
    margin-bottom:40px;
    text-shadow:3px 3px 3px #949292;
    font-size: 4em;
}
h2#cabecalho{
    margin-bottom: 90px;
   
}

.content2 p{
   
    font-size: small;
    text-align: left;
}
.content p{
   
    font-size: 1.3em;
}

img{
    width: 50vw;
    height: 50vh;
}
.content3{
    width: 80vw;
}

.content3 > video{
    width: 80vw;
    
}

} 

/* Tela de pc */

@media screen and (min-width:900px) and (max-width:1200px) {
    header{
        background: url(../imagens/teclado\ -\ Copia2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
.conteiner{
    margin-right: 50px ;
    margin-left: 50px;
}


h2{
    margin:50px ;
    font-size: 4em;
    
}
    
.content p{
   
    font-size: 1.6em;
}

 .content2 p{
  
    font-size: 1em;
}
.content3{
    width: 80vw;
    margin-right: -50px;
}
.content3 video{
    width: 80vw;
}

}


/* Tela final */

@media screen and (min-width:1200px) {
    header{
        background: url(../imagens/teclado\ 10.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }


 
h2{
    font-size: 5em;
    margin: 50px;
}
.content{
    margin: 50px;
    margin-top: 50px;
    font-size: 2em;
}
.content2 p{
    margin: 50px;
    margin-top: 50px;
    font-size: 1.9em;
}

img{
    width: 50vw;
    height: 60vh;
}
img#image{
    height: 100vh;
}

.content3 video{
    width: 95vw;
    height: auto;
   
}



}