@charset "UTF-8";

@media  screen and (min-width:100px) and (max-width:600px) {
    section#imagens img{
        
        border-radius: 50%;
        border: 2px solid white;
        display: inline;
        width: 70px;
        margin: 5px;
        
    }
    section#imagens{
        background-color: rgba(0, 0, 0, 0.63);
        border: 3px solid rgb(153, 153, 153);
        border-top: hidden;
        border-radius: 0px 0px 20px 20px;
        margin: auto;
        margin-left: 50px;
        margin-right: 50px;
        /* margin-top:5px ; */
    }
}